<footer class="bg-body-secondary py-3">
    <div class="container-lg">
        <div class="container-lg d-flex justify-content-between align-items-center flex-wrap">
            <small class="text-muted text-footer">
                Contribute to this site by submitting a Pull Request to the
                <a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                   href="https://github.com/HEP-FCC/FCCSW/tree/gh-pages"
                   target="_blank">Github repository</a>.
            </small>
            <small class="text-muted text-footer">
                &copy; Copyright 2026,
                <a href="https://home.cern/"
                   class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                   target="_blank">CERN</a>.
            </small>
        </div>
    </div>
</footer>


<script src="{{ '/assets/js/jquery-3.7.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap-5.3.3/bootstrap.bundle.min.js' | relative_url }}"></script>
